* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #0b1220;
  color: #fff;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

/* HEADER */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  background: #0b1220;
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 4px;
}

/* HERO */
.hero {
  padding-top: 120px;
}

.hero-content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.hero-text h1 {
  font-size: 36px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  background: #00c853;
  padding: 12px 20px;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
}

.hero-img img {
  width: 100%;
}

/* SERVIÇOS */
.servicos {
  padding: 60px 0;
  text-align: center;
}

.cards {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.card {
  background: #121a2b;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
}

.card img {
  width: 80px;
}

/* SOBRE */
.sobre-content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.sobre img {
  width: 100%;
}


/* CONTATO */
.contato {
  padding: 60px 0;
}

.contato-grid {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, textarea {
  padding: 12px;
  border: none;
  border-radius: 6px;
}

button {
  padding: 12px;
  background: #22c55e;
  border: none;
  cursor: pointer;
}

/* INFO CONTATO */
.info-contato {
  flex: 1;
  background: #1e293b;
  padding: 25px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-contato h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

/* ITENS (telefone/email) */
.info-contato .item {
  display: flex;
  align-items: center;
  gap: 10px;

  background: #0f172a;
  padding: 12px;
  border-radius: 8px;
}

.info-contato .item span {
  font-size: 20px;
}

.info-contato .item p {
  margin: 0;
}

/* REDES */
.redes {
  margin-top: 10px;
}

.redes h4 {
  margin-bottom: 10px;
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-links a {
  display: block;
  padding: 10px;

  background: #0f172a;
  border-radius: 6px;

  color: #22c55e;
  text-decoration: none;

  transition: 0.2s;
}

.social-links a:hover {
  background: #22c55e;
  color: #000;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #0b1220;
}

/* WHATSAPP */
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  padding: 15px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 20px;
  color: white
}

/* MOBILE */
@media (max-width: 768px) {

  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    background: #0b1220;
    height: 100vh;
    width: 260px;

    display: flex;
    flex-direction: column;

    padding: 100px 20px 20px; /* espaço topo + lateral */
    gap: 20px;

    transition: 0.3s ease;
    z-index: 1001;
  }

  .menu.active {
    right: 0;
  }

   /* LINKS */
  .menu a {
    display: block;
    padding: 12px 16px;

    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;

    color: #fff;
    text-decoration: none;

    transition: 0.2s;
  }

    /* linha separadora opcional */
  .menu a + a {
    border-top: 1px solid rgba(255,255,255,0.05);
    padding-top: 16px;
  }


  .hamburger {
    display: flex;
  }

  .hero-content,
  .cards,
  .sobre-content {
    flex-direction: column;
  }
}

/* OVERLAY */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  top: 0;
  left: 0;
  display: none;
}

.overlay.active {
  display: block;
}


.color-white {
  color: white!important;
  text-decoration: none;
}

.precos {
  padding: 80px 0;
  text-align: center;
}

.precos h2 {
  font-size: 32px;
}

.subtitulo {
  margin-top: 10px;
  color: #94a3b8;
}

.precos-grid {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

/* CARD */
.plano {
  flex: 1;
  background: #1e293b;
  padding: 25px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  transition: 0.3s;
}

.plano:hover {
  transform: translateY(-5px);
}

/* DESTAQUE */
.plano.destaque {
  border: 2px solid #22c55e;
  transform: scale(1.05);
}

.plano img {
  width: 80px;
  margin: auto;
}

.plano h3 {
  font-size: 22px;
}

.preco {
  font-size: 28px;
  font-weight: bold;
  color: #22c55e;
}

.descricao {
  font-size: 14px;
  color: #cbd5f5;
}

.plano ul {
  list-style: none;
  text-align: left;
  margin-top: 10px;
}

.plano ul li {
  margin-bottom: 8px;
}

.plano .btn {
  margin-top: auto;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .precos-grid {
    flex-direction: column;
  }

  .plano.destaque {
    transform: scale(1);
  }
}
