* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #0b1220;
  color: #fff;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

/* HEADER */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  background: #0b1220;
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 4px;
}

/* HERO */
.hero {
  padding-top: 120px;
}

.hero-content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.hero-text h1 {
  font-size: 36px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  background: #00c853;
  padding: 12px 20px;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
}

.hero-img img {
  width: 100%;
}

/* SERVIÇOS */
.servicos {
  padding: 60px 0;
  text-align: center;
}

.cards {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.card {
  background: #121a2b;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
}

.card img {
  width: 80px;
}

/* SOBRE */
.sobre-content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.sobre img {
  width: 100%;
}

/* CONTATO */
.contato form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contato input,
.contato textarea {
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.contato button {
  background: #00c853;
  border: none;
  padding: 12px;
  color: #fff;
}

/* WHATSAPP */
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  padding: 15px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 20px;
}

/* MOBILE */
@media (max-width: 768px) {

  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    background: #0b1220;
    height: 100vh;
    width: 260px;

    display: flex;
    flex-direction: column;

    padding: 100px 20px 20px; /* espaço topo + lateral */
    gap: 20px;

    transition: 0.3s ease;
    z-index: 1001;
  }

  .menu.active {
    right: 0;
  }

   /* LINKS */
  .menu a {
    display: block;
    padding: 12px 16px;

    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;

    color: #fff;
    text-decoration: none;

    transition: 0.2s;
  }

    /* linha separadora opcional */
  .menu a + a {
    border-top: 1px solid rgba(255,255,255,0.05);
    padding-top: 16px;
  }


  .hamburger {
    display: flex;
  }

  .hero-content,
  .cards,
  .sobre-content {
    flex-direction: column;
  }
}

/* OVERLAY */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  top: 0;
  left: 0;
  display: none;
}

.overlay.active {
  display: block;
}
